
<table class="table table-hover">
	<%if(sites){
	for(var i=0; i<sites.length;i++){%>                           
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
			</tr>
		</thead>
		<tbody>
					<tr>
						<td><%=sites[i].siteRef%></td>
						<td><%=sites[i].siteName%></td>
						<td><%=sites[i].city%></td>
						<td><%=sites[i].state%></td>
						<td><%=sites[i].zip%></td>
					</tr>
				<%}
			} else {%>
					<tr>
						<td>Please Register or Login to Save Sites</td>
					</tr>
			<%}%>
		</tbody>
</table>					
